.buttonWrapper {
    margin-left: 15px;
}

.btn {
    margin-left: 15px;
    padding: 20px 20px;
    background: #fc0404;
    color: white;
    border: 1px solid black;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}