* {
    margin: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.rectangleWrapper {
    position: relative;
    width: 600px;
    height: 500px;
    background: #4471c3;
}


