.containerRectangle {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 100px;
    background: #fdc005;
    margin-top: 30px;
}

.radio {
    transform: scale(2);
    margin-left: 30px;
}


.text {
    transform: scale(2);
    margin-right: 150px;
    padding: 5px;
    
}
