.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px 2px;
    background-color: white;
}

.questionCounter {
    position: absolute;
    left: 60px;
    top: 33px;
    font-size: 30px;
    font-weight: bold;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question__img {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.answers {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.answers__item {
    border: 1px solid #006ec8;
    padding: 5px;
    border-radius: 5px;
    width: 400px;
    text-align: center;
    background: #029eff;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;

}
.answers__item:hover {
    background: #003f66;
    color: white;
}

.next {
    position: absolute;
    left: 40px;
    bottom: 20px;
    padding: 20px;
    background: #029eff;
    outline: none;
    border: 2px solid #006ec8;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    cursor: pointer;


    
}

.next:hover {
    color: white;
}

.correctAnswer {
    background: green;
}
.correctAnswer:hover {
    background: green;
    color: black;
}

.container__end {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    width: 350px;
    font-family: 'Lato';
    font-size: 20px;

}
